<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="{{ site.author }}" />
    <title>{{ page.title }} | Echo Liu}</title>
    <link rel="shortcut icon" href="/favicon.ico">
    <link href="{{ site.url }}/feed/" rel="alternate" title="{{ site.author }}" type="application/atom+xml" />
    <link rel="stylesheet" href="/media/css/style.css">
    <link rel="stylesheet" href="/media/css/highlight.css">
    <script type="text/javascript" src="/media/js/jquery-1.7.1.min.js"></script>
  </head>
  <body>
    <div id="container">
      <div id="main" role="main">
        <header>
        <h1>{{ page.title }}</h1>
        </header>
        <nav>
        <span><a title="home page" class="" href="{{ site.url }}/">home</a></span>
        <span><a title="about" class="" href="{{ site.url }}/about/">about</a></span>
        <span><a title="projects" class="" href="{{ site.url }}/projects/">projects</a></span>
        <span><a title="categories" class="" href="{{ site.url }}/categories/">categories</a></span>
        <span><a title="tags" class="" href="{{ site.url }}/tags/">tags</a></span>
        <span><a title="books" class="" href="{{ site.url }}/books/">books</a></span>
        <span><a title="links" class="" href="{{ site.url }}/links/">links</a></span>
        </nav>
        <article class="content">
        {{ content }}
        </article>
      </div>
    </div>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){

  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-40842472-1', 'freshstu.com');
  ga('send', 'pageview');
</script>
  </body>
</html>
