---
layout: default
---
<div class="content markdown">
  <div class="title">
    <h1>{{ page.title }}</h1>
  </div>
  {{ content }}

  <img src="http://7b1gwu.com1.z0.glb.clouddn.com/rigongyizu365_footer.png" alt="微信关注「日拱一卒」公众号">

  <div id="disqus_thread"></div>
  <script>
      var disqus_config = function () {
          this.page.url = '{{ site.url }}{{ page.url | remove:'index.html' }}';
          this.page.identifier = '{% if page.disqus_identifier %}{{ page.disqus_identifier}}{% else %}{{ site.url }}{{ page.url }}{% endif %}';
      };
(function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');

    s.src = '//lazybios.disqus.com/embed.js';

    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
})();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>


  <!-- 下面的代码可以使用键盘文章翻页,兼容Vim和游戏快键键 上一篇: h,←, a 下一篇: l,→, d -->
  <script type="text/javascript">
  $(function(){
    $(document).keydown(function(e) {
      var url = false;
          if (e.which == 37 || e.which == 72|| e.which == 65) {
              {% if page.previous %}
          url = '{{ site.url }}{{ page.previous.url }}';
          {% endif %}
          }
          else if (e.which == 39 || e.which == 76|| e.which == 68) {
              {% if page.next %}
          url = '{{ site.url }}{{ page.next.url }}';
          {% endif %}
          }
          if (url) {
              window.location = url;
          }
    });
  })
  </script>
</div>

